<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Crystal Multi-Speciality Hospital</h3>
                        <p>
                            Plot No.8, United Tower, Opp GDA Bus Stand<br>
                            STBT to Dargah Road, Kalaburagi - 585 104<br>
                            Karnataka, India<br><br>
                            <strong>Phone:</strong> +91 6366718519<br>
                            <strong>Email:</strong> crystalmultispecialityhospital@gmail.com<br>
                        </p>
                        <!--div class="social-links mt-3">                            
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>                                                
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#doctors">Doctors</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#departments">Departments</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to receive latest updates about hospital</p>
                    <form action="" method="post" class="subscribeForm">
                        <input type="email" name="footer-subscribe-email" data-rule="email"><div class="validate"></div><input name="footer-subscribe-button"
                        type="submit" value="Subscribe">                        
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Crystal Multi-Speciality Hospital</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="https://4csolutions.in">4C Solutions</a> and 
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->