{% extends "templates/master.html" %}

{% block intro %}
{%- include "templates/includes/intro/intro.html" -%}
{% endblock %}

{% block style_crystal %}
{% include "/templates/includes/css.html" %}
{% endblock %}

{% block script_crystal %}
{% include "/templates/includes/scripts.html" %}
{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-operation-theater"></i></div>
            <h4 class="title"><a href="">Major & Minor OT</a></h4>
            <p class="description">Well Maintained, Fully Equipped and Highly Hygeinic</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4 class="title"><a href="">Pharmacy Store</a></h4>
            <p class="description">Open 24/7, Medicines, Wellness and Healthcare Products</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-laboratory"></i></div>
            <h4 class="title"><a href="">Diagnostic Laboratory</a></h4>
            <p class="description">All Major Lab Tests and Reporting</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-ambulance"></i></div>
            <h4 class="title"><a href="">Ambulance Service</a></h4>
            <p class="description">24/7 Ambulance Service with Nursing Staff & Oxygen Cylinder</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>Crystal Multi-Speciality Hospital situated in the heart of Kalaburagi city has been serving people with
          quality healthcare services and has become the preferred healthcare destination of patients.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="/assets/crystal_hospital/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3><u>Vision</u></h3>
          <ul>
            <li><i class="icofont-check-circled"></i> Quality Healthcare by Technological Adoption.</li>
            <li><i class="icofont-check-circled"></i> Healthcare that is Affordable to Everyone.</li>
            <li><i class="icofont-check-circled"></i> Patient Centric Hospital.</li>
          </ul>
          <h3><u>Mission</u></h3>
          <ul>
            <li><i class="icofont-check-circled"></i> Qualified Staff and Best in Class Infrastructure.</li>
            <li><i class="icofont-check-circled"></i> Insurance based Cashless Hospitalization.</li>
            <li><i class="icofont-check-circled"></i> 24/7 Avavilability.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-doctor-alt"></i>
            <span data-toggle="counter-up">35</span>
            <p><strong>Doctors:</strong> Highly Qualified and Skilled Consultants & Nursing Staff</p>
            <a href="#doctors">Find out more &raquo;</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-patient-bed"></i>
            <span data-toggle="counter-up">21</span>
            <p><strong>Departments:</strong> Pulmonology, Nephrology, Surgical Gastroenterology, Neurology etc.</p>
            <a href="#departments">Find out more &raquo;</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-laboratory"></i>
            <span data-toggle="counter-up">100</span>
            <p><strong>Lab Tests:</strong> More than 100 Diagnostics Tests and Reporting.</p>
            <a href="#">Find out more &raquo;</a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="icofont-icu"></i></div>
          <h4 class="title">Intensive Care Unit</h4>
          <p class="description">Well Equipped ICU with Ventilators</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="icofont-operation-theater"></i></div>
          <h4 class="title">Major Operation Theater</h4>
          <p class="description">Well Maintained, Fully Equipped and Highly Hygeinic</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="icofont-surgeon-alt"></i></div>
          <h4 class="title">Trauma Care</h4>
          <p class="description">Emergency care for Major and Minor Injuries</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="icofont-laboratory"></i></div>
          <h4 class="title">Diagnostic Laboratory</h4>
          <p class="description">All Major Lab Tests and Reporting</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="icofont-drug"></i></div>
          <h4 class="title">24/7 Pharmacy Store</h4>
          <p class="description">Open 24/7, Medicines, Wellness and Healthcare Products</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="icofont-ambulance"></i></div>
          <h4 class="title">24/7 Ambulance Service</h4>
          <p class="description">24/7 Ambulance Service with Nursing Staff & Oxygen Cylinder</p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>In an emergency? Need help now?</h3>
        <p> Our emergency service team will assist you.</p>
        <a class="cta-btn scrollto" href="#contact">Contact Us</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Departments</h2>
        <p>We are truly multispeciality hospital having 21 departments.</p>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <h5 class="nav-link active show">Anaesthesia & Critical Care</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Cardiology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">ENT</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Gastroenterology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">General Medicine</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">General Surgery</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Nephrology</h5>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <h5 class="nav-link active show">Neurology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Neurosurgery</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Obstetrics & Gynecology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Onco Surgery</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Orthopedic & Trauma</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Paediatrics</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Pathology</h5>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <h5 class="nav-link active show">Physiotherapy</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Psychiatry</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Pulmonology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Radiology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Rheumatology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Surgical Gastroenterology</h5>
            </li>
            <li class="nav-item">
              <h5 class="nav-link active show">Urology</h5>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="pricing section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Doctors</h2>
        <p>We are a team of highly qualified and skilled doctors dedicated to providing quality healthcare services.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Medical Director</h3>
            <ul style="text-align: center;">
              <li><span>Dr Mohammed Nisaruddin</span> <sub>M.D (F.M & T)</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Anaesthesia & Critical Care</h3>
            <ul>
              <li><span>Dr Sameer Ahmed</span> <sub>M.D, D.N.B</sub></li>
              <li><span>Dr Irfan Waris</span> <sub>M.D</sub></li>
              <li><span>Dr Adil Farooq</span> <sub>M.D</sub></li>
              <li><span>Dr Muzammil Khasdar</span> <sub>D.A</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Cardiology</h3>
            <ul>
              <li><span>Dr Basavaprabhu Amarkhed</span> <sub>M.D, D.M</sub></li>
              <li><span>Dr Iranna Hirapur</span> <sub>M.D, D.M</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>ENT</h3>
            <ul>
              <li><span>Dr Mohammed Faiz</span> <sub>M.S</sub></li>
              <li><span>Dr Kedarnath Ratkal</span> <sub>M.S</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Gastroenterology</h3>
            <ul>
              <li><span>Dr Ashfaq Ahmed</span> <sub>M.D, D.N.B</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>General Medicine</h3>
            <ul>
              <li><span>Dr Abdul Waheed</span> <sub>M.D</sub></li>
              <li><span>Dr Prashant E.D</span> <sub>M.D</sub></li>
              <li><span>Dr Mohammed Mudassir</span> <sub>M.D</sub></li>
              <li><span>Dr Anand Chavan</span> <sub>M.D</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>General Surgery</h3>
            <ul>
              <li><span>Dr Girish Noola</span> <sub>M.S</sub></li>
              <li><span>Dr Mohammadi Sana</span> <sub>M.S</sub></li>
              <li><span>Dr Farooq Mannur</span> <sub>M.S</sub></li>
              <li><span>Dr Sagar S Katare</span> <sub>M.S</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Nephrology</h3>
            <ul>
              <li><span>Dr Vivek Patil</span> <sub>M.D, D.M</sub></li>
              <li><span>Dr Anil Mudda</span> <sub>M.D, D.M</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Neurology</h3>
            <ul>
              <li><span>Dr Sharangouda Patil</span> <sub>M.D, D.M</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Neurosurgery</h3>
            <ul>
              <li><span>Dr Santosh Mangshetty</span> <sub>M.S,Mch</sub></li>
              <li><span>Dr Rohan Shah</span> <sub>M.S,Mch</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Obstetrics & Gynecology</h3>
            <ul>
              <li><span>Dr Aisha Humera</span> <sub>M.S</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Onco Surgery</h3>
            <ul>
              <li><span></span> <sub></sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Orthopedic & Trauma</h3>
            <ul>
              <li><span>Dr Mohammed Nazim</span> <sub>M.S</sub></li>
              <li><span>Dr Sajid</span> <sub>M.S</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Paediatrics</h3>
            <ul>
              <li><span>Dr Abdul Raheem</span> <sub>DCH</sub></li>
              <li><span>Dr Vineet Kulkarni</span> <sub>M.D (Neonatologist)</sub></li>
              <li><span>Dr Shoaib</span> <sub>M.D</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Pathology</h3>
            <ul>
              <li><span>Dr Abdul Hakeem Attar</span> <sub>M.D</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Physiotherapy</h3>
            <ul>
              <li><span></span> <sub></sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Psychiatry</h3>
            <ul>
              <li><span>Dr Md Munnawar Hussain</span> <sub>M.D</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Pulmonology</h3>
            <ul>
              <li><span>Dr Gousuddin Arif</span> <sub>M.D, D.N.B</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Radiology</h3>
            <ul>
              <li><span>Dr Ehsan Quadri</span> <sub>D.M.R.D, D.N.B</sub></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Rheumatology</h3>
            <ul>
              <li><span></span> <sub></sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Surgical Gastroenterology</h3>
            <ul>
              <li><span>Dr Arif Raza</span> <sub>M.S, Mch</sub></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h3>Urology</h3>
            <ul>
              <li><span>Dr Sunil Kalaskar</span> <sub>M.S, D.N.B</sub></li>
              <li><span>Dr Sharanabasappa Rudrawadi</span> <sub>M.S, Mch</sub></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </section><!-- End Doctors Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Gallery</h2>
        <p>Our Infrastructure and work at a glance.</p>
      </div>

      <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
        <a href="/assets/crystal_hospital/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-1.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-2.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-3.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-4.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-5.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-6.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-7.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-8.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-9.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-9.jpg" alt=""></a>
        <a href="/assets/crystal_hospital/img/gallery/gallery-10.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="/assets/crystal_hospital/img/gallery/gallery-10.jpg" alt=""></a>
      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>We provide 24/7 healthcare service with qualified nursing staff.</p>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Plot No.8, United Tower, Opp GDA Bus Stand<br>STBT to Dargah Road, Kalaburagi-585104</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>crystalmultispecialityhospital@gmail.com</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+91 63667 18519</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}