<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Crystal Multi-Speciality Hospital - Quality Healthcare</title>
	<meta name=”robots” content=”index, follow”>
	<meta name="author" content="crystalhospital.in">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords"
		content="Quality Healthcare, Best Treatment, State of Art Hospital Infrastructure, Gulbarga, Kalaburagi">
	<meta name="description" content="Crystal Multi-Speciality Hospital, Quality Healthcare">
	<meta name="revisit-after" content="7 days">
	<!-- Open Graph Protocol -->
	<meta property="og:title" content="Crystal Multi-Speciality Hospital - Quality Healthcare">
	<meta property="og:description" content="Crystal Multi-Speciality Hospital, Quality Healthcare">
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Crystal Multi-Speciality Hospital" />
	<meta property="og:url" content="https://crystalhospital.in">
	<!-- Favicons -->
	{% block favicon %}
	<link href="/assets/crystal_hospital/images/4Cfavicon.ico" rel="icon">
	<link href="/assets/crystal_hospital/images/4Capple-touch-icon.png" rel="apple-touch-icon">
	{% endblock %}

	{%- block style_crystal %}{%- endblock -%}
	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
	</script>
</head>

{% block body %}

<body>
	<!-- ======= Top Bar ======= -->
	<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
		<div class="container d-flex align-items-center justify-content-between">
			<div class="d-flex align-items-center">
				<i class="icofont-clock-time"></i> Open 24/7
			</div>
			<div class="d-flex align-items-center">
				<i class="icofont-phone"></i> Call us now +1 5589 55488 55
			</div>
		</div>
	</div>
	
	<header id="header" class="fixed-top">
		{%- block navbar -%}
		{% include "templates/includes/navbar/crystal_navbar.html" %}
		{%- endblock -%}
	</header>

	{% block intro %}{% endblock %}
	{% block content %}{% endblock %}

	{%- block footer -%}
	{% include "templates/includes/footer/crystal_footer.html" %}
	{%- endblock -%}

	<div id="preloader"></div>
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

	{% block base_scripts %}
	<!-- js should be loaded in body! -->
	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
	{% endblock %}

	{%- for link in web_include_js %}
	<script type="text/javascript" src="{{ link|abs_url }}"></script>
	{%- endfor -%}

	{%- block script_crystal %}{%- endblock %}
</body>
{% endblock %}

</html>