    <!-- Vendor JS Files -->
    <script src="assets/crystal_hospital/vendor/jquery/jquery.min.js"></script>
    <script src="assets/crystal_hospital/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/crystal_hospital/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/crystal_hospital/vendor/php-email-form/validate.js"></script>
    <script src="assets/crystal_hospital/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/crystal_hospital/vendor/counterup/counterup.min.js"></script>
    <script src="assets/crystal_hospital/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/crystal_hospital/vendor/venobox/venobox.min.js"></script>
    <script src="assets/crystal_hospital/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/crystal_hospital/js/main.js"></script>